<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.apps.prahadir">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission-sdk-23 android:name="android.permission.INTERNET" />
    <uses-permission-sdk-23 android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission-sdk-23 android:name="android.permission.ACCESS_WIFI_STATE" />


    <application
        android:allowBackup="true"
        android:icon="@drawable/icon_apps"
        android:label="@string/appName"
        android:roundIcon="@drawable/icon_apps"
        android:supportsRtl="true"
        android:theme="@style/Theme.PraHadir"
        android:usesCleartextTraffic="true"
        tools:targetApi="m">

        <activity
            android:name=".SplashScreen"
            android:screenOrientation="fullSensor"
            android:exported="true"
            tools:ignore="ExtraText">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait"
            android:exported="false"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".LoginActivity"
            android:screenOrientation="portrait"
            android:exported="false"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".GrupActivity"
            android:screenOrientation="portrait"
            android:exported="false"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".AbsenActivity"
            android:screenOrientation="portrait"
            android:exported="false"
            tools:ignore="LockedOrientationActivity" />

    </application>

</manifest>